img {
  max-width: 100%;
  height: auto;
}
a {
	text-decoration: none !important;
	display: block;
  color: $black;
}
html {
	font-size: $font-size-base;
}
body {
  font-family: $font-family-base;
  line-height: $line-height-base;
}
.h1, .h2, .h3, .h4, .h5, .h6, p {
  margin-bottom: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal;
}
.font-size {
  &-sm {
    font-size: $font-size-sm;
  }
}
.material-icons {
  vertical-align: bottom;
}
.line-height-1 {
  line-height: 1;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
