// navbar
.navbar {
  z-index: 999;
  transition: .5s;
}
.navbar-logo a {
  font-size: 0;
  background: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume.png?raw=true) no-repeat;
  width: 128px;
  height: 38px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}
.navbar-toggler {
  padding: 0;
  border: none;
  &:focus {
    outline: none;
  }
  &-icon {
    width: 40px;
    height: 40px;
  }
}
.navbar-collapse {
  background-color: transparent;
  @include mobile {
    background-color: $secondary;
  }
}
.nav .nav-link, .navbar .nav-link {
  line-height: 1.2;
}
.navbar-light .navbar-nav .nav-link {
  @include mobile {
    color: #fff;
    border-bottom: 1px solid #fff;
    &:hover {
      background-color: $light;
      color: $primary;
    }
  }
}

//products-nav
.products-nav .nav-link {
  padding: 14px 0;
}

// toggler-bar
.toggler-bar {
  display: block;
  position: absolute;
  width: 30px;
  height: 5px;
  background-color: $secondary;
  border-radius: 10px;
  transition: .2s;
}
.toggler-bar-top {
  top: 5px;
}
.toggler-bar-middle {
  top: 16px;
}
.toggler-bar-bottom {
  top: 27px;
}
.toggler-bar-top-rotate {
  top: 15px;
  transform: rotate(45deg);
}
.toggler-bar-bottom-rotate {
  top: 15px;
  transform: rotate(-45deg);
}