<footer class="bg-primary py-4">
  <div class="container d-flex">
    <div class="d-flex align-items-center">
      <a href="#">
        <img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/perfume-week6/d%E2%80%99Perfumewhite.png" alt="logo">
      </a>
      <p class="text-white font-size-sm ml-4">© 2020. All Rights Reserved.</p>
    </div>
    <ul class="nav ml-auto d-none d-md-flex"> 
      <li class="nav-item"><a href="products.html" class="nav-link text-white h5">Product</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white h5">Blog</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-white h5">Contact</a></li>
    </ul>
  </div>
</footer>