.card-title {
  margin-bottom: 0;
  font-size: 24px;
  @include mobile {
    font-size: 20px;
  }
}
.card-body {
  padding: 8px 0 0 0 ;
}
.card-img-lg {
  padding-top: 150%;
}
.card-img-sm {
  padding-top: 100%;
  position: relative;
  &:before {
    content: '查看更多';
    position: absolute;
    color: #fff;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: .4s;
    z-index: 1;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(#000, .7);
    opacity: 0;
    transition: .2s;
    z-index: 0;
  }
  &:hover:before,&:hover:after {
    opacity: 1;
  }
  &:hover:before {
    top: 55%;
  }
}
.card-cover {
  position: relative;
  &:before {
    content: 'Sold out';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(#000, .3);
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
